<form class="form-inline" {{action 'save' on='submit'}}>

  <!-- <div class="form-group">
      {{pick-a-date useUTC=true date=(readonly state.date) on-selected=(action (mut date)) placeholder="Pick a date" options=(readonly extraPickadateOptions)}}
  </div> -->

  <div class="form-group">
    <div class="input-group">
        <input type="number" class="form-control" id="amount" placeholder='amount' value={{state.amount}} oninput={{action (mut state.amount) value="target.value"}}>
    </div>
    <div class="input-group">
        <input type="text" class="form-control" id="description" placeholder='description' value={{state.description}} oninput={{action (mut state.description) value="target.value"}}>
    </div>
    <div class="input-group">
        <input type="text" class="form-control" id="comment" placeholder='comment' value={{state.comment}} oninput={{action (mut state.comment) value="target.value"}}/>
    </div>
  </div>
  <div class="form-group">
      <button type="submit" class="btn btn-primary">Save</button>
  </div>
</form>
{{#if errors}}
    <div class="alert alert-danger">
        <p>
            <strong>Saving entry failed:</strong>
            {{#each errors as |error|}}
                {{#if error.message}}
                    <code>{{error.message}}</code>
                {{/if}}
                {{#if error.detail}}
                    <small>{{error.detail}}</small>
                {{/if}}
            {{/each}}
        </p>
    </div>
{{/if}}
