<div class="amount"><label>Amount:</label> {{expense.amount}}</div>
<div class="description"><label>Description:</label> {{expense.description}} </div>
<div class="comment"><label>Comment:</label>  {{expense.comment}} </div>
<div class="date"><label>Date:</label> {{moment-format expense.date 'DD MMMM, YYYY'}}</div>
<div class="time"><label>Time:</label> {{moment-format expense.date 'hh:mm A'}}</div>
{{#if editable}}
  {{#if (can "crud expense" ownerid=user.id)}}
    {{#link-to "user.expense.edit" user expense class="btn btn-primary"}}Edit{{/link-to}}
    <button {{action attrs.remove}} type="button" class="btn btn-danger">Remove</button>
   {{/if}}
 {{/if}}
