<div class="title"><label>Title:</label> {{expense.title}}</div>
<div class="href"><label>Href:</label> {{expense.href}}</div>
<div class="amount"><label>Amount:</label> {{expense.amount}}</div>
<div class="currency"><label>currency:</label> {{expense.currency}}</div>
<div class="unverified"><label>Unverified:</label> {{expense.unverified}}</div>
<div class="description"><label>Description:</label> {{expense.description}} </div>
{{#if editable}}
  {{#if (can "crud expense" ownerid=user.id)}}
    {{#link-to "user.expense.edit" user expense class="btn btn-primary"}}Edit{{/link-to}}
    <button {{action attrs.remove}} type="button" class="btn btn-danger">Remove</button>
   {{/if}}
 {{/if}}
