<form class="add-expense form-horizontal" {{action 'save' on='submit'}}>


  <div class="form-group">

    <div class="input-group">
        <input required=true type="text" class="form-control" id="title" placeholder='title' value={{title}} oninput={{action (mut title) value="target.value"}}>
    </div>

    <div class="input-group">
        <input required=true type="url" class="form-control" id="href" placeholder='href' value={{href}} oninput={{action (mut href) value="target.value"}}>
    </div>

    <div class="input-group">
        <input required=true min=0 type="number" class="form-control" id="amount" placeholder='amount' value={{amount}} oninput={{action (mut amount) value="target.value"}}>
        <input required=true type="text" class="form-control" id="currency" placeholder='currency' value={{currency}} oninput={{action (mut currency) value="target.value"}}>
    </div>
    <div class="input-group">
        <input required=true type="text" class="form-control" id="description" placeholder='description' value={{description}} oninput={{action (mut description) value="target.value"}}>
    </div>
  </div>
  <div class="form-group">
      <button type="submit" class="btn btn-primary">Save</button>
  </div>
</form>
{{#if errors}}
    <div class="alert alert-danger">
        <p>
            <strong>Saving entry failed:</strong>
            {{#each errors as |error|}}
                {{#if error.message}}
                    <code>{{error.message}}</code>
                {{/if}}
                {{#if error.detail}}
                    <small>{{error.detail}}</small>
                {{/if}}
            {{/each}}
        </p>
    </div>
{{/if}}
