<form role="form" {{action 'filter' on='submit'}}>
  <label>From: </label>
  {{pick-a-date
    useUTC=true
    on-selected=(action 'minDatePicked')
    placeholder="From"
    options=(readonly extraPickadateOptions)
    date=(readonly minDate)
  }}

  <label>To: </label>
  {{pick-a-date
    useUTC=true
    on-selected=(action 'maxDatePicked')
    placeholder="To"
    options=(readonly extraPickadateOptions)
    date=(readonly maxDate)
  }}

  <!-- <div class="form-group"> -->
    <input type="text" placeholder="description" value={{description}} oninput={{action (mut description)  value="target.value"}}>
    <input type="number" placeholder="amount" value={{amount}} oninput={{action (mut amount)  value="target.value"}}>
  <!-- </div> -->



  <button type="submit" class="btn btn-primary">Filter</button>
</form>
