<form role="form" {{action 'filter' on='submit'}}>
  <label>From: </label>
  {{#pick-a-date
    useUTC=true
    on-selected=(action 'minDatePicked')
    options=(readonly extraPickadateOptionsFrom)
    date=(readonly minDate)
  }}
    <input type="text" name="fromdate" placeholder="From" value={{if minDate (moment-format minDate 'DD MMMM, YYYY')}}>
  {{/pick-a-date}}

  <label>To: </label>
  {{#pick-a-date
    useUTC=true
    on-selected=(action 'maxDatePicked')
    placeholder="To"
    options=(readonly extraPickadateOptionsTo)
    date=(readonly maxDate)
  }}
    <input type="text" name="todate" placeholder="To" value={{if maxDate (moment-format maxDate 'DD MMMM, YYYY')}}>
  {{/pick-a-date}}

  <!-- <div class="form-group"> -->
    <input type="text" placeholder="description" value={{description}} oninput={{action (mut description)  value="target.value"}}>
    <input type="number" placeholder="amount" value={{amount}} oninput={{action (mut amount)  value="target.value"}}>
  <!-- </div> -->



  <button type="submit" class="btn btn-primary">Filter</button>
</form>
