<h1>User {{model.identification}} profile page</h1>
<ul class="list-group">
  <li class="list-group-item">
    Is admin: {{model.admin}}
    {{#if model.admin}}
      <button class="btn btn-danger" {{action "toggleAdmin"}}>remove admin</button>
    {{else}}
      <button class="btn btn-primary" {{action "toggleAdmin"}}>make admin</button>
    {{/if}}
  </li>
  <li class="list-group-item">
    Is user manager: {{model.usermanager}}
    {{#if model.usermanager}}
      <button class="btn btn-danger" {{action "toggleUsermanager"}}>remove user manager</button>
    {{else}}
      <button class="btn btn-primary" {{action "toggleUsermanager"}}>make user manager</button>
    {{/if}}
  </li>
</ul>
<div>
  {{#link-to 'user.expenses' model}}
    view {{model.identification}} expenses
  {{/link-to}}
</div>
